<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/css/niyu.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <script src="https://static.elfsight.com/platform/platform.js" async></script> <div class="elfsight-app-e3a3f102-2da2-441a-8f95-1af877a13428" data-elfsight-app-lazy></div>
    <!-- Boxicons -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    




<!-- Header -->
<header class="header" id="header">
    <!-- Top Nav -->
    <!-- <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div> -->
    <div class="navigation">
      <div class="nav-center container d-flex">
      <a href="/" class="logo"><h1>VesterContainers</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="/home" class="nav-link">Container for Home</a>
          </li>
          <li class="nav-item">
            <a href="/event" class="nav-link">Container for Event</a>
          </li>
          <li class="nav-item">
          <a href="/shop" class="nav-link">Container for shop</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>

          <li class="nav-item">
            <a href="/both" class="nav-link">Containers</a>
          </li>
         
          <li class="icons d-flex">
       
          
         
          <a href="/cart" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex"><%= cartItemCount %> </span>
          </a>
        </li>
        </ul>

        <div class="icons d-flex">
       
          
         
          <a href="/cart" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex"><%= cartItemCount %></span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

  <div class="hero">
    <div class="glide" id="glide_1">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <div class="center">
              <div class="left">
                <span class="">Your Trusted Container Solution Provider</span>
                <h1 class="">NEW COLLECTION</h1>
                <p> Top-Quality Products</p>
                <div class="but">
                 <button> <a href="/both">Shop All Product</a> </button> 

                </div>
                               </div>
              <div class="right">
                  <img class="img1" src="/img/home container.webp">
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="center">
              <div class="left">
                <span>Fast & Reliable Delivery</span>
                <h1>THE PERFECT MATCH!</h1>
                <p>Top-Quality Products</p>
                <a href="/both" class="hero-btn">Shop All Product</a>
              </div>
              <div class="right">
                <img class="img2" src="/img/home container.webp" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </header>


  <!-- Categories Section -->
  <section class="section category">
    <div class="cat-center">
      <div class="cat">
        <img src="/img/ano2.webp" alt="" />
        <div>
          <p>Top-Quality</p>
        </div>
      </div>
      <div class="cat">
        <img src="/img/20_used.webp" alt="" />
        <div>
          <p>Wide Range</p>
        </div>
      </div>
      <div class="cat">
        <img src="/img/ano5.webp" alt="" />
        <div>
          <p>Competitive Pricing</p>
        </div>
      </div>
    </div>
  </section>



  <!-- New Arrivals -->
  <section id="new-arrival" class="section new-arrival">
    <div class="title">
      <h1>NEW ARRIVALS</h1>
      <p>All the latest containers</p>
    </div>

    <div class="product-center">
      
      <% products.forEach(function(product) { %>

      <div class="product-item">
        <div class="overlay">
          <div  class="product-thumb">
            <img src="<%= product.image %>" alt="" />
          </div>
        </div>
        <div class="product-info">
          <div ></div>
          <h4><%=  product.name %></h4>
        </div>
        <div class="product-info">
          <div href="#"></div>
          <h4>$<%=  product.price %></h4>
        </div>
        <ul class="icons">
          <li><a href="/cart/<%= product.id %>"><i class="bx bx-cart"> </i></a> </li>
        </ul>
        
      </div>

      <% }); %>
    </div>
  </section>


  <!-- Promo -->

  <section class="section banner">
<div class="left">
<h1>New Collection 2024</h1>
<p>New Arrival <span class="color">Sale 50% OFF</span> Limited Time Offer</p>




<button  class="btn-btn-1">Discover Now</button>
</div>
<div class="right">
<img src="/img/home container.webp" alt="">
</div>
  </section>




  <!-- Featured -->

  

  <!-- Contact -->
  <section class="section contact">
    <div class="row">
      <div class="col">
        <h2>EXCELLENT SUPPORT</h2>
        <p>We love our customers and they can reach us any time
        of day we will be at your service 24/7</p>
        <a href="/contact" class="btn btn-1">Contact</a>
      </div>
      <div class="col">
        <form action="/subscribe" method="post">
          <div>
            <input type="email" name="email" id="email" placeholder="Email Address"> <br><br>
          <button type="submit" class="signupbtn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="footer">
    <div class="row">
      <div class="col d-flex">
        <h4>our branches</h4>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Indionesia </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Japan </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Russia </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
      </div>
      <div class="col d-flex">
        <h4>quick links</h4>
        <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Trucks </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Services </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Featured </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Reviews </a>
        <a href="/buy.html"> <i class="fas fa-arrow-right"></i> Contact </a>
      </div>

      <div class="col d-flex">
        <h4>contact info</h4>
        <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="mailto:ooo@gmail.com"> <i class="fas fa-envelope"></i> vibrvester@gmail.com</a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> City - USA - 000000 </a>
      </div>

      <div class="col d-flex">
        <!-- <span><a href=""><i class='bx bxl-instagram-alt'> </i></a> </span> -->
        <span>  <a href="https://wa.me/14058629760"> <i class='bx bxl-whatsapp' ></i></a></span>
        <!-- <span>  <a href=""> <i class="bx bx-envelope icon'" ></i></a></span> -->
        <span>  <a href="https://www.facebook.com/share/1Xz7CpdRZ6/?mibextid=LQQJ4d"> <i class='bx bxl-facebook' ></i></a></span>
        <!-- <span>  <a href=""> <i class='bx bxl-telegram' ></i></a></span> -->

      </div>
    </div>
  </footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
<script src="./js/slider.js"></script>
<script src="/js/index.js"></script>


    
</body>
</html>