<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/css/niyu.css" />
    <title>Latoyaandstyles</title>
  </head>

  <body>
    <!-- Navigation -->
    <!-- <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div> -->
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>Latoyaandstyles</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/product" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="/terms" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link"></a>
          </li>
          <li class="icons d-flex">
           
         
            <a href="/cart" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          
         
         
          <a href="/cart" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

    <!-- Product Details -->
    <section class="section product-detail">
      <div class="details container">
        <div class="left image-container">
          <div class="main">
            <img src="<%= product.image %>" id="zoom" alt="" />
          </div>
        </div>
        <div class="right">
          <h1><%= product.name %></h1>
          <div class="price">$<%= product.price %></div>
          
          <form class="form" action="https://www.latoyaandstyles.com/cart/add" method="post">
            <input type="hidden" name="productId" value="<%= product.id %>" />
            <input type="hidden" name="productImage" value="<%= product.img %>" />
              <input type="text" name="quantity" placeholder="1"  required />
              <button type="submit" class="addCart">Add To Cart</button>

          </form>
          <h3>Product Detail</h3>
          <p>
            <%= product.description %>
          </p>
        </div>
      </div>
    </section>

    <!-- Related -->
   
     <!-- Footer -->
  <footer class="footer">
    <div class="row">
      <div class="col d-flex">
        <h4>our branches</h4>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Indionesia </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Japan </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Russia </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
      </div>
      <div class="col d-flex">
        <h4>quick links</h4>
        <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Trucks </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Services </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Featured </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Reviews </a>
        <a href="/buy.html"> <i class="fas fa-arrow-right"></i> Contact </a>
      </div>

      <div class="col d-flex">
        <h4>contact info</h4>
        <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="mailto:ooo@gmail.com"> <i class="fas fa-envelope"></i> vibrvester@gmail.com</a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> City - USA - 000000 </a>
      </div>

      <div class="col d-flex">
        <span><a href=""><i class='bx bxl-instagram-alt'> </i></a> </span>
        <span>  <a href="h"> <i class='bx bxl-whatsapp' ></i></a></span>
        <span>  <a href=""> <i class="bx bx-envelope icon'" ></i></a></span>
        <span>  <a href=""> <i class='bx bxl-tiktok' ></i></a></span>
        <span>  <a href=""> <i class='bx bxl-telegram' ></i></a></span>

      </div>
    </div>
  </footer>
    <!-- Custom Script -->
    <script src="/js/slider.js"></script>
    <script src="/js/index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
      crossorigin="anonymous"
    ></script>
    <script src="./js/zoomsl.min.js"></script>
    <script>
      $(function () {
        console.log("hello");
        $("#zoom").imagezoomsl({
          zoomrange: [4, 4],
        });
      });
    </script>
  </body>
</html>